/*
======================
Facility
======================
*/

.facility__section {
  background-color: var(--primaryColor);
  padding: 6rem 0;
}

.facility__contianer {
  margin-top: -29rem;
  background-color: #b8bdb8;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.facility-img__container svg {
  width: 3rem;
  height: 3rem;
  transition: 1s;
  /* perspective: 4000; */
  position: absolute;
}

.facility__box {
  text-align: center;
}

.facility__box p {
  font-weight: 700;
}

.facility-img__container {
  position: relative;
  display: inline-block;
  line-height: 6.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1.5px solid whitesmoke;
  z-index: 1;
  margin-bottom: 1.6rem;
}

.facility-img__container::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.7rem;
  background-color: white;
  z-index: -1;
}

.facility__box:hover svg {
  transform: rotateY(180deg);
  line-height: 9.5rem;
}

/*
  ======================
  Facility Media Query
  ======================
  */
@media only screen and (max-width: 998px) {
  .facility__contianer {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 568px) {
  .facility__contianer {
    grid-template-columns: 1fr;
  }

  .facility-img__container {
    width: 7rem;
    height: 7rem;
    line-height: 8.5rem;
  }

  .facility__contianer p {
    font-size: 1.4rem;
  }
}
